<ul class="list-group list-group-flush">
    <li *ngFor="let contact of contacts" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col">
                <div>{{ contact.name }}</div>
                <div>{{ contact.phone }}</div>
            </div>
            <div class="col-1">
                <button (click)="onDeleteContact(contact.id)" class="btn btn-danger btn-sm">X</button>
            </div>
        </div>
    </li>
</ul>